In [1]:
# konek google colab dengan google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# load library
import pandas as pd
import numpy as np
import math
import scipy.stats as stats

# Load dataset
data = pd.read_csv('/content/drive/MyDrive/Sampling/dataset - 2020-09-24.csv')
data.head()

,Name,Jersey Number,Club,Position,Nationality,Age,Appearances,Wins,Losses,Goals,...,Punches,High Claims,Catches,Sweeper clearances,Throw outs,Goal Kicks,Yellow cards,Red cards,Fouls,Offsides
0,Bernd Leno,1.0,Arsenal,Goalkeeper,Germany,28.0,64,28,16,0,...,34.0,26.0,17.0,28.0,375.0,489.0,2,0,0,NaN
1,Matt Macey,33.0,Arsenal,Goalkeeper,England,26.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN
2,Rúnar Alex Rúnarsson,13.0,Arsenal,Goalkeeper,Iceland,25.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN
3,Héctor Bellerín,2.0,Arsenal,Defender,Spain,25.0,160,90,37,7,...,NaN,NaN,NaN,NaN,NaN,NaN,23,0,125,8.0
4,Kieran Tierney,3.0,Arsenal,Defender,Scotland,23.0,16,7,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,2,0,9,0.0

In [6]:
data.describe()

,Jersey Number,Age,Appearances,Wins,Losses,Goals,Goals per match,Headed goals,Goals with right foot,Goals with left foot,...,Punches,High Claims,Catches,Sweeper clearances,Throw outs,Goal Kicks,Yellow cards,Red cards,Fouls,Offsides
count,563.000000,570.000000,571.000000,571.000000,571.000000,571.000000,309.000000,502.000000,502.000000,502.000000,...,69.000000,69.000000,69.000000,69.000000,69.000000,69.000000,571.000000,571.000000,571.000000,502.000000
mean,19.534636,25.789474,68.823117,28.957968,23.896673,7.327496,2.648414,1.414343,4.468127,2.388446,...,24.652174,45.869565,20.782609,25.565217,210.000000,414.144928,7.917688,0.301226,53.033275,11.063745
std,14.273515,4.377354,81.797516,38.969376,28.488376,16.810490,8.002117,3.433374,11.048341,6.295652,...,46.282644,82.332167,43.058397,47.333758,334.822473,641.246265,11.556811,0.698607,75.605560,26.570058
min,1.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.000000,22.000000,3.000000,1.000000,1.000000,0.000000,0.050000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,18.000000,26.000000,36.000000,12.000000,14.000000,1.000000,0.140000,0.000000,1.000000,0.000000,...,2.000000,6.000000,3.000000,4.000000,39.000000,53.000000,3.000000,0.000000,22.000000,2.000000
75%,27.000000,29.000000,108.000000,41.000000,36.000000,6.000000,0.390000,1.000000,3.000000,2.000000,...,31.000000,45.000000,17.000000,28.000000,300.000000,527.000000,11.000000,0.000000,74.000000,8.750000
max,82.000000,38.000000,539.000000,272.000000,158.000000,180.000000,57.000000,31.000000,127.000000,63.000000,...,269.000000,391.000000,249.000000,257.000000,1516.000000,2806.000000,81.000000,5.000000,438.000000,203.000000

In [7]:
# Membaca data dari file CSV
data = pd.read_csv('/content/drive/MyDrive/Sampling/dataset - 2020-09-24.csv')

# Hitung total gol per posisi dalam populasi
total_gol_per_posisi = data.groupby('Position')['Goals'].sum()

# Hitung persentase jumlah gol per posisi
presentase_gol_per_posisi = (total_gol_per_posisi / data['Goals'].sum()) * 100

# Urutkan DataFrame berdasarkan urutan posisi: Goalkeeper, Defender, Midfielder, Forward
urutan_posisi = ['Goalkeeper', 'Defender', 'Midfielder', 'Forward']
df_gol_posisi = pd.DataFrame({
    'Position': total_gol_per_posisi.index,
    'Goal': total_gol_per_posisi.values,
    'Presentase (%)': presentase_gol_per_posisi.round(2).values
}).sort_values('Position', key=lambda x: x.map({pos: idx for idx, pos in enumerate(urutan_posisi)}))

# Tambahkan total di bawah DataFrame
total_gol = df_gol_posisi['Goal'].sum()
total_presentase = df_gol_posisi['Presentase (%)'].sum()
df_total = pd.DataFrame({'Position': ['Total'],
                         'Goal': [total_gol],
                         'Presentase (%)': [total_presentase]})

df_gol_posisi = pd.concat([df_gol_posisi, df_total], ignore_index=True)

print(df_gol_posisi)

     Position  Goal  Presentase (%)
0  Goalkeeper     0            0.00
1    Defender   516           12.33
2  Midfielder  1305           31.19
3     Forward  2363           56.48
4       Total  4184          100.00

In [8]:
# Hitung ukuran total populasi (N)
N = len(data)

# Tentukan tingkat kepercayaan (misalnya, 95%)
confidence_level = 0.95

# Tentukan margin of error (misalnya, 5%)
margin_of_error = 0.05

# Estimasi proporsi atau persentase dalam populasi (misalnya, 0.2)
estimated_proportion = 0.2

# Hitung ukuran sampel minimum dengan rumus Cochran
sample_size = (stats.norm.ppf(1 - ((1 - confidence_level) / 2)) ** 2 * estimated_proportion * (1 - estimated_proportion)) / margin_of_error ** 2

# Pastikan ukuran sampel tidak melebihi jumlah total populasi (N)
sample_size = min(sample_size, N)

# Konversi ukuran sampel menjadi integer
sample_size = int(sample_size)

print("Ukuran Sampel Minimum yang direkomendasikan:", sample_size)

Ukuran Sampel Minimum yang direkomendasikan: 245

In [9]:
# Menambahkan kolom "Jumlah Sample" berdasarkan presentase dari masing-masing posisi
N = len(data)
n_total = sample_size
df_gol_posisi['Jumlah Sample'] = (df_gol_posisi['Presentase (%)'] / 100 * n_total).astype(int)

print(df_gol_posisi)

     Position  Goal  Presentase (%)  Jumlah Sample
0  Goalkeeper     0            0.00              0
1    Defender   516           12.33             30
2  Midfielder  1305           31.19             76
3     Forward  2363           56.48            138
4       Total  4184          100.00            245

In [11]:
# Fungsi untuk menghitung total jumlah gol per posisi pemain dalam populasi keseluruhan
def hitung_total_gol_per_posisi(data):
    total_gol_per_posisi = data.groupby(['Position', 'Club'])['Goals'].sum()
    return total_gol_per_posisi

# Fungsi untuk menghitung persentase jumlah gol per posisi pemain terhadap jumlah gol keseluruhan
def hitung_presentase_gol_per_posisi(total_gol_per_posisi, total_gol_keseluruhan):
    presentase_gol_per_posisi = (total_gol_per_posisi / total_gol_keseluruhan) * 100
    return presentase_gol_per_posisi

# Fungsi untuk menghitung jumlah sample berdasarkan presentase masing-masing posisi
def hitung_jumlah_sample(presentase, n_total):
    jumlah_sample = (presentase / 100) * n_total
    return jumlah_sample

# Hitung total gol per posisi dalam populasi
total_gol_per_posisi = hitung_total_gol_per_posisi(data)

# Hitung jumlah gol keseluruhan
total_gol_keseluruhan = data['Goals'].sum()

# Hitung persentase jumlah gol per posisi
presentase_gol_per_posisi = hitung_presentase_gol_per_posisi(total_gol_per_posisi, total_gol_keseluruhan)

# Gabungkan total gol per posisi dan persentase gol per posisi menjadi satu DataFrame
df_gol_posisi = pd.DataFrame({'Position': total_gol_per_posisi.index.get_level_values(0),
                              'Club': total_gol_per_posisi.index.get_level_values(1),
                              'Goal': total_gol_per_posisi.values,
                              'Presentase (%)': presentase_gol_per_posisi.values})

# Format nilai presentase agar menampilkan dua angka di belakang koma
df_gol_posisi['Presentase (%)'] = df_gol_posisi['Presentase (%)'].round(2)

# Urutkan DataFrame berdasarkan urutan posisi: Goalkeeper, Defender, Midfielder, Forward
urutan_posisi = ['Goalkeeper', 'Defender', 'Midfielder', 'Forward']
df_gol_posisi = df_gol_posisi[df_gol_posisi['Position'].isin(urutan_posisi)]

# Tambahkan total di bawah DataFrame menggunakan pd.concat()
total_gol = df_gol_posisi['Goal'].sum()
total_presentase = df_gol_posisi['Presentase (%)'].sum()
df_total = pd.DataFrame({'Position': ['Total'],
                         'Club': [''],
                         'Goal': [total_gol],
                         'Presentase (%)': [total_presentase]})
df_gol_posisi = pd.concat([df_gol_posisi, df_total], ignore_index=True)

# Menambahkan kolom "Jumlah Sample" berdasarkan presentase dari masing-masing posisi
N = len(data)
n_total = sample_size
df_gol_posisi['Jumlah Sample'] = (df_gol_posisi['Presentase (%)'] / 100 * n_total).astype(int)

# Menyusun ulang kolom agar tampilan lebih sesuai
df_gol_posisi = df_gol_posisi[['Position', 'Club', 'Goal', 'Presentase (%)', 'Jumlah Sample']]

df_gol_posisi

      Position                      Club  Goal  Presentase (%)  Jumlah Sample
0     Defender                   Arsenal    40            0.96              2
1     Defender               Aston-Villa    14            0.33              0
2     Defender  Brighton-and-Hove-Albion     9            0.22              0
3     Defender                   Burnley    21            0.50              1
4     Defender                   Chelsea    44            1.05              2
..         ...                       ...   ...             ...            ...
76  Midfielder         Tottenham-Hotspur   100            2.39              5
77  Midfielder      West-Bromwich-Albion    19            0.45              1
78  Midfielder           West-Ham-United   115            2.75              6
79  Midfielder   Wolverhampton-Wanderers    20            0.48              1
80       Total                            4184          100.02            245

[81 rows x 5 columns]

In [12]:
# Filter hanya yang memiliki nilai lebih besar atau sama dengan 1 di kolom "Jumlah Sample"
df_gol_posisi_filter = df_gol_posisi[df_gol_posisi['Jumlah Sample'] >= 1]
df_gol_posisi_filter

      Position                      Club  Goal  Presentase (%)  Jumlah Sample
0     Defender                   Arsenal    40            0.96              2
3     Defender                   Burnley    21            0.50              1
4     Defender                   Chelsea    44            1.05              2
5     Defender            Crystal-Palace    81            1.94              4
6     Defender                   Everton    33            0.79              1
9     Defender            Leicester-City    30            0.72              1
10    Defender                 Liverpool    28            0.67              1
11    Defender           Manchester-City    32            0.76              1
12    Defender         Manchester-United    28            0.67              1
13    Defender          Newcastle-United    36            0.86              2
14    Defender          Sheffield-United    25            0.60              1
16    Defender         Tottenham-Hotspur    27            0.65              1
17    Defender      West-Bromwich-Albion    26            0.62              1
18    Defender           West-Ham-United    19            0.45              1
20     Forward                   Arsenal   144            3.44              8
22     Forward  Brighton-and-Hove-Albion    33            0.79              1
23     Forward                   Burnley   121            2.89              7
24     Forward                   Chelsea   107            2.56              6
25     Forward            Crystal-Palace   168            4.02              9
26     Forward                   Everton   173            4.13             10
27     Forward                    Fulham    35            0.84              2
29     Forward            Leicester-City   175            4.18             10
30     Forward                 Liverpool   256            6.12             14
31     Forward           Manchester-City   365            8.72             21
32     Forward         Manchester-United   121            2.89              7
33     Forward          Newcastle-United   125            2.99              7
34     Forward          Sheffield-United    20            0.48              1
35     Forward               Southampton   108            2.58              6
36     Forward         Tottenham-Hotspur   260            6.21             15
37     Forward      West-Bromwich-Albion    49            1.17              2
38     Forward           West-Ham-United    52            1.24              3
39     Forward   Wolverhampton-Wanderers    40            0.96              2
60  Midfielder                   Arsenal    47            1.12              2
61  Midfielder               Aston-Villa    28            0.67              1
62  Midfielder  Brighton-and-Hove-Albion    48            1.15              2
63  Midfielder                   Burnley    38            0.91              2
64  Midfielder                   Chelsea    68            1.63              3
65  Midfielder            Crystal-Palace   110            2.63              6
66  Midfielder                   Everton    92            2.20              5
69  Midfielder            Leicester-City    64            1.53              3
70  Midfielder                 Liverpool   163            3.90              9
71  Midfielder           Manchester-City    99            2.37              5
72  Midfielder         Manchester-United   121            2.89              7
73  Midfielder          Newcastle-United    73            1.74              4
74  Midfielder          Sheffield-United    22            0.53              1
75  Midfielder               Southampton    64            1.53              3
76  Midfielder         Tottenham-Hotspur   100            2.39              5
77  Midfielder      West-Bromwich-Albion    19            0.45              1
78  Midfielder           West-Ham-United   115            2.75              6
79  Midfielder   Wolverhampton-Wanderers    20            0.48              1
80       Total                            4184          100.02            245